---
import Container from "@components/Container.astro";
import Graphic from "@images/graphic.svg";
---

<footer class="py-4">
  <Container>
    <Graphic class="w-full" mode="inline" />
    <div
      class="flex items-center justify-between max-sm:flex-col border-t border-b border-dashed"
    >
      <a
        class="w-full text-center p-4 border-l border-dashed transition-colors hover:bg-gray-100 focus:outline focus:border-black max-sm:border-r max-sm:border-b"
        href="https://proffer.dev/">Built by Jacob Proffer</a
      >
      <a
        class="w-full text-center p-4 border-r border-l border-dashed transition-colors hover:bg-gray-100 focus:outline focus:border-black"
        href="https://github.com/jacobproffer/astro-tickets"
        >GitHub Repository</a
      >
    </div>
  </Container>
</footer>
