---
import Container from "@components/Container.astro";
import Graphic from "@images/deadmans-brew.svg";
---

<Container as="footer" class="py-4">
  <Graphic class="w-full" mode="inline" />
  <div
    class="flex items-center justify-between max-sm:flex-col border-t border-b border-solid"
  >
    <a
      class="w-full text-center p-4 border-l border-solid transition-colors hover:bg-gray-100 focus:outline-4 focus:outline-black focus:-outline-offset-2 max-sm:border-r max-sm:border-b"
      href="https://proffer.dev/">Built by Jacob Proffer</a
    >
    <a
      class="w-full text-center p-4 border-r border-l border-solid transition-colors hover:bg-gray-100 focus:outline-4 focus:outline-black focus:-outline-offset-2"
      href="https://github.com/jacobproffer/astro-tickets">GitHub Repository</a
    >
  </div>
</Container>
