---
import Navigation from "./Navigation.astro";
import Container from "./Container.astro";
---

<div>
  <Container>
    <div>
      <header>
        <a
          class="fixed -top-full left-1/2 py-1 px-4 -translate-x-1/2 transition-top ease-in-out delay-150 focus:top-0 focus:outline-dashed focus:outline-black dark:focus:outline-orange focus:outline-1"
          href="#content">Skip to main content</a
        >
        Dead Man's Brew
      </header>
      <Navigation />
    </div>
  </Container>
</div>
