---
import Navigation from "@components/Navigation.astro";
import Container from "@components/Container.astro";
---

<div class="bg-card pt-4" transition:persist>
  <Container>
    <div
      class="flex justify-between flex-col sm:items-center sm:flex-row border-t border-b border-solid mb-4"
    >
      <header class="w-full text-center sm:text-left">
        <a
          class="fixed -top-full left-1/2 py-3 px-4 bg-green -translate-x-1/2 transition-top ease-in-out delay-150 focus:top-4 focus:outline focus:outline-black"
          href="#content">Skip to main content</a
        >
        <Navigation />
      </header>
    </div>
  </Container>
</div>
