---
import Container from "./Container.astro";
import Graphic from "../assets/graphic.svg";
import { getCollection } from "astro:content";

const initialYear = 2007;
const currentYear = new Date().getFullYear();
const years = currentYear - initialYear;

const tickets = await getCollection("tickets");
const ticketCount = tickets.length;

// Get unique theaters from tickets
const uniqueTheaters = new Set(tickets.map((ticket) => ticket.data.theater));
const theaterCount = uniqueTheaters.size;
---

<section class="grid pt-20" transition:name="hero">
  <Container class="grid w-full gap-1 p-1">
    <h1 class="sr-only">Tickets</h1>
    <Graphic mode="inline" transition:name="logo" />
    <ul class="grid grid-cols-3 border-t-2 border-gray border-solid">
      <li
        class="flex items-center justify-between border-r-2 border-gray pt-1 pr-1 pb-1 border-solid"
      >
        <h2 class="text-lg">Years</h2>
        <div class="text-md">{years}</div>
      </li>
      <li
        class="flex items-center justify-between p-1 border-r-2 border-gray border-solid"
      >
        <h2 class="text-lg">Theaters</h2>
        <div class="text-md">{theaterCount}</div>
      </li>
      <li class="flex items-center justify-between pt-1 pb-1 pl-1">
        <h2 class="text-lg">Tickets</h2>
        <div class="text-md">{ticketCount}</div>
      </li>
    </ul>
  </Container>
</section>
