---
import Container from "./Container.astro";

interface Props {
  headline: string;
}

const { headline } = Astro.props;
---

<section>
  <Container>
    {headline && <h1 class="font-medium text-xl leading-8 text-balance">{headline}</h1>}
    <slot />
  </Container>
</section>
