<nav aria-label="primary">
  <ul class="flex space-x-4 mt-2">
    <li>
      <a
        href="/"
        class="text-gray-200 hover:text-blue transition-colors"
        aria-current={Astro.url.pathname === "/" ? "page" : undefined}
      >
        Home
      </a>
    </li>
    <li>
      <a
        href="/tickets/"
        class="text-gray-200 hover:text-blue transition-colors"
        aria-current={Astro.url.pathname.startsWith("/tickets")
          ? "page"
          : undefined}
      >
        All Tickets
      </a>
    </li>
  </ul>
</nav>
