---
interface Props {
  href: string;
  isActive?: boolean;
  class?: string;
}

const { href, isActive, class: className } = Astro.props;
---

<a
  href={href}
  class:list={[
    "block lg:text-2xl text-black py-3 px-4 border-l border-solid border-black text-center transition-colors hover:bg-gray-100 focus:outline-4 focus:outline-black focus:-outline-offset-2",
    isActive && "border-black bg-pink",
    className,
  ]}
  aria-current={isActive ? "page" : undefined}
>
  <slot />
</a>
