---
import Container from "./Container.astro";

interface Props {
  headline: string;
}

const { headline } = Astro.props;
---

<section class="relative">
  <Container>
    {
      headline && (
        <h2>{headline}</h2>
      )
    }
    <slot />
  </Container>
</section>
