---
import Container from "./Container.astro";

interface Props {
  headline: string;
}

const { headline } = Astro.props;
---

<section class="relative py-4">
  <Container>
    {headline && <h2 class="text-4xl">{headline}</h2>}
    <slot />
  </Container>
</section>
